.link {
  display: block;
  text-decoration: none;
  color: #3b3b3b;
  font-family: sans-serif; /* Uncommented font-family */
}

.link:hover {
  /* display: inline-block; */
  content: "";
  width: inherit;
  border-bottom: solid 3px #436850;
  transform: scaleX(1); /* Added transform property */
  transition: transform 250ms ease-in-out;
}

.link:after {
  transform: scaleX(1);
  transform-origin: left;
}

.active {
  color: #436850;
  /* display: inline-block; */
  content: "";
  width: inherit;
  border-bottom: solid 3px #436850;
}
